:root{
    --bg-color: black;
    --primary-color: lightgray;
    --secondary-color: white;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* header */
h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
}
h1:hover{
    color: var(--secondary-color);
}

.config{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
}

.config-inner-div{
    display: flex;
    flex-direction: column;
}

label{
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

select {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px;
    font-size: 20px;
    color: var(--primary-color);
}

select:hover{
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

#apply-changes{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 3px solid var(--primary-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
}
#apply-changes:hover{
    background-color: var(--secondary-color);
    border: 3px solid var(--bg-color);

}

/* board*/
main {
    margin-top: 100px;  
    display: grid;
    grid-template-columns: repeat(3, auto);  
}

.cell{
    background-color: var(--primary-color);
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    font-size: 13vh;
    text-align: center;
    height: 15vh;
    width: 15vh;
    cursor: default;
}
.cell:hover{
    background-color: var(--secondary-color);    
}

.❌,
.⭕{
    cursor: not-allowed;
}
.❌:hover,
.⭕:hover{
    background-color: var(--primary-color);
}



/* results */
.hide{
    display: none;
}

.result{
    display: flex;
    flex-direction: column;
}

.result-txt{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing:  2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#resetButton{
    background-color: var(--bg-color);
    border: none;
    font-size: 36px;
    cursor: pointer;
}


